<p style="color: green"><%= notice %></p>

<%= render @api_bar %>

<div>
  <%= link_to "Edit this bar", edit_api_bar_path(@api_bar) %> |
  <%= link_to "Back to bars", api_bars_path %>

  <%= button_to "Destroy this bar", @api_bar, method: :delete %>
</div>
